body {
    background: url("images/17592-railroad-track-on-a-fall-day-pv.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    background:
}
#main-container {
    background: white;
}