body {
    background: url("images/batthern/batthern.png");
    font-family: 'Ultra', serif;
}

thead {
    font-family: 'Patua One', cursive;
}

#header {
    background: white;
}
#main-container {
    background: white;
}